services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/feed-auth0
    ports:
      - "8000:8000"
    environment:
      - AUTH0_CLIENT_ID=9P4PBcoEieD32bUMzj9smDWahS1Iu0Am
      - AUTH0_CLIENT_SECRET=7bjl3KGqqUr5Q-xnEkEA8AZ7iU58I-54AUWlbt6OvWjEov11BVjbX0qq6_uzyoCk
      - AUTH0_DOMAIN=plum-condor-77025.cic-demo-platform.auth0app.com

