{% extends "bootstrap_base.html" %}
{% load static %}
{% block page_content %}
<div class=container>
    <a href="{% url 'index' %}" class="icon-link gap-1 icon-link-hover stretched-link">
        Regresar
        <svg class="bi">
            <use xlink:href="#chevron-right"/>
        </svg>
    </a>
    <br>
    <h1 _msttexthash="473967" _msthash="0">Términos y condiciones</h1>
    <p _msttexthash="5058274" _msthash="2">Por favor, lea atentamente estos términos y condiciones antes de utilizar
        Nuestro Servicio.</p>
    <h2 _msttexthash="780481" _msthash="3">Interpretación y definiciones</h2>
    <h3 _msttexthash="294073" _msthash="4">Interpretación</h3>
    <p _msttexthash="28177695" _msthash="5">Las palabras en las que se escribe en mayúscula la letra inicial tienen
        significados definidos en las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado
        tanto si aparecen en singular como en plural.</p>
    <h3 _msttexthash="203983" _msthash="6">Definiciones</h3>
    <p _msttexthash="1414361" _msthash="7">A los efectos de estos Términos y Condiciones:</p>
    <ul>
        <li>
            <p _msttexthash="45918041" _msthash="8"><strong _istranslated="1">Afiliada</strong> significa una entidad
                que controla, es controlada por o está bajo control común con una parte, donde "control" significa la
                propiedad del 50% o más de las acciones, participaciones en el capital u otros valores con derecho a
                votar para la elección de directores u otra autoridad de gestión.</p>
        </li>
        <li>
            <p _msttexthash="515333" _msthash="9"><strong _istranslated="1">El país</strong> se refiere a: Chile</p>
        </li>
        <li>
            <p _msttexthash="11342799" _msthash="11"><strong _istranslated="1">Dispositivo</strong> se refiere a
                cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono celular o una
                tableta digital.</p>
        </li>
        <li>
            <p _msttexthash="865748" _msthash="12"><strong _istranslated="1">El servicio</strong> se refiere al sitio
                web.</p>
        </li>
        <li>
            <p _msttexthash="30956913" _msthash="14"><strong _istranslated="1">Servicio de redes sociales de
                terceros</strong> se refiere a cualquier servicio o contenido (incluidos datos, información, productos o
                servicios) proporcionado por un tercero que pueda ser mostrado, incluido o puesto a disposición por el
                Servicio.</p>
        </li>
        <li>
            <p _msttexthash="16755557" _msthash="16"><strong _istranslated="1">Usted</strong> se refiere a la persona
                que accede o utiliza el Servicio, o la empresa, u otra entidad legal en nombre de la cual dicha persona
                accede o utiliza el Servicio, según corresponda.</p>
        </li>
    </ul>
    <h2 _msttexthash="261534" _msthash="17">Reconocimiento</h2>
    <p _msttexthash="30730206" _msthash="18">Estos son los Términos y Condiciones que rigen el uso de este Servicio y el
        acuerdo que opera entre Usted y la Compañía. Estos Términos y Condiciones establecen los derechos y obligaciones
        de todos los usuarios con respecto al uso del Servicio.</p>
    <p _msttexthash="29469102" _msthash="19">Su acceso y uso del Servicio está condicionado a su aceptación y
        cumplimiento de estos Términos y Condiciones. Estos Términos y Condiciones se aplican a todos los visitantes,
        usuarios y otras personas que accedan o utilicen el Servicio.</p>
    <p _msttexthash="19847490" _msthash="20">Al acceder o utilizar el Servicio, Usted acepta estar sujeto a estos
        Términos y Condiciones. Si no está de acuerdo con alguna parte de estos Términos y Condiciones, no podrá acceder
        al Servicio.</p>
    <p _msttexthash="6496165" _msthash="21">Usted declara que es mayor de 18 años. La Compañía no permite que los
        menores de 18 años utilicen el Servicio.</p>
    <p _msttexthash="124182682" _msthash="22">Su acceso y uso del Servicio también está condicionado a su aceptación y
        cumplimiento de la Política de Privacidad de la Compañía. Nuestra Política de Privacidad describe Nuestras
        políticas y procedimientos sobre la recopilación, el uso y la divulgación de su información personal cuando
        utiliza la Aplicación o el Sitio web y le informa sobre sus derechos de privacidad y cómo la ley lo protege. Por
        favor, lea atentamente nuestra Política de Privacidad antes de utilizar Nuestro Servicio.</p>
    <h2 _msttexthash="541801" _msthash="23">Enlaces a otros sitios web</h2>
    <p _msttexthash="10532262" _msthash="24">Nuestro Servicio puede contener enlaces a sitios web o servicios de
        terceros que no son propiedad ni están controlados por la Compañía.</p>
    <p _msttexthash="106806596" _msthash="25">La Compañía no tiene control y no asume ninguna responsabilidad por el
        contenido, las políticas de privacidad o las prácticas de los sitios web o servicios de terceros. Además,
        reconoce y acepta que la Compañía no será responsable, directa o indirectamente, de ningún daño o pérdida
        causada o presuntamente causada por o en relación con el uso o la confianza en dicho contenido, bienes o
        servicios disponibles en o a través de dichos sitios web o servicios.</p>
    <p _msttexthash="13279188" _msthash="26">Le recomendamos encarecidamente que lea los términos y condiciones y las
        políticas de privacidad de cualquier sitio web o servicio de terceros que visite.</p>
    <h2 _msttexthash="207571" _msthash="27">Terminación</h2>
    <p _msttexthash="17344964" _msthash="28">Podemos cancelar o suspender su acceso de inmediato, sin previo aviso ni
        responsabilidad, por cualquier motivo, incluido, entre otros, si incumple estos Términos y condiciones.</p>
    <p _msttexthash="3543046" _msthash="29">Tras la rescisión, su derecho a utilizar el Servicio cesará
        inmediatamente.</p>
    <h2 _msttexthash="761150" _msthash="30">Limitación de responsabilidad</h2>
    <p _msttexthash="63496511" _msthash="31">Sin perjuicio de los daños en los que pueda incurrir, la responsabilidad
        total de la Compañía y de cualquiera de sus proveedores en virtud de cualquier disposición de estos Términos y
        su recurso exclusivo por todo lo anterior se limitará a la cantidad realmente pagada por Usted a través del
        Servicio o 100 USD si no ha comprado nada a través del Servicio.</p>
    <p _msttexthash="301100397" _msthash="32">En la medida máxima permitida por la ley aplicable, en ningún caso la
        Compañía o sus proveedores serán responsables de ningún daño especial, incidental, indirecto o consecuente de
        ningún tipo (incluidos, entre otros, daños por pérdida de ganancias, pérdida de datos u otra información, por
        interrupción del negocio, por lesiones personales, pérdida de privacidad que surjan o estén relacionados de
        alguna manera con el uso o la imposibilidad de usar el Servicio, software de terceros y/o hardware de terceros
        utilizado con el Servicio, o de otro modo en relación con cualquier disposición de estos Términos), incluso si
        la Compañía o cualquier proveedor ha sido advertido de la posibilidad de tales daños e incluso si el recurso no
        cumple con su propósito esencial.</p>
    <p _msttexthash="55073317" _msthash="33">Algunos estados no permiten la exclusión de garantías implícitas o la
        limitación de responsabilidad por daños incidentales o consecuentes, lo que significa que algunas de las
        limitaciones anteriores pueden no aplicarse. En estos estados, la responsabilidad de cada parte se limitará en
        la mayor medida permitida por la ley.</p>
    <h2 _msttexthash="2057575" _msthash="34">Descargo de responsabilidad "TAL CUAL" y "SEGÚN DISPONIBILIDAD"</h2>
    <p _msttexthash="688174136" _msthash="35">El Servicio se le proporciona "TAL CUAL" y "SEGÚN DISPONIBILIDAD" y con
        todas las fallas y defectos sin garantía de ningún tipo. En la medida máxima permitida por la ley aplicable, la
        Compañía, en su propio nombre y en nombre de sus Afiliados y sus respectivos licenciantes y proveedores de
        servicios, renuncia expresamente a todas las garantías, ya sean expresas, implícitas, estatutarias o de otro
        tipo, con respecto al Servicio, incluidas todas las garantías implícitas de comerciabilidad, idoneidad para un
        propósito particular, título y no infracción. y las garantías que puedan surgir del curso de la negociación, el
        curso de la ejecución, el uso o la práctica comercial. Sin limitación a lo anterior, la Compañía no ofrece
        ninguna garantía o compromiso, y no hace ninguna declaración de ningún tipo de que el Servicio cumplirá con Sus
        requisitos, logrará los resultados previstos, será compatible o funcionará con cualquier otro software,
        aplicaciones, sistemas o servicios, operará sin interrupción, cumplirá con cualquier estándar de rendimiento o
        confiabilidad o estará libre de errores o que cualquier error o defecto pueda o será corregido.</p>
    <p _msttexthash="275915055" _msthash="36">Sin perjuicio de lo anterior, ni la Compañía ni ninguno de los proveedores
        de la Compañía hacen ninguna declaración o garantía de ningún tipo, expresa o implícita: (i) en cuanto al
        funcionamiento o disponibilidad del Servicio, o la información, el contenido y los materiales o productos
        incluidos en el mismo; (ii) que el Servicio será ininterrumpido o estará libre de errores; (iii) en cuanto a la
        exactitud, confiabilidad o vigencia de cualquier información o contenido proporcionado a través del Servicio; o
        (iv) que el Servicio, sus servidores, el contenido o los correos electrónicos enviados desde o en nombre de la
        Compañía están libres de virus, scripts, troyanos, gusanos, malware, bombas de tiempo u otros componentes
        dañinos.</p>
    <p _msttexthash="83362942" _msthash="37">Algunas jurisdicciones no permiten la exclusión de ciertos tipos de
        garantías o limitaciones sobre los derechos legales aplicables de un consumidor, por lo que es posible que
        algunas o todas las exclusiones y limitaciones anteriores no se apliquen en su caso. Pero en tal caso, las
        exclusiones y limitaciones establecidas en esta sección se aplicarán en la mayor medida posible según la ley
        aplicable.</p>
    <h2 _msttexthash="470392" _msthash="38">Legislación aplicable</h2>
    <p _msttexthash="26847431" _msthash="39">Las leyes del País, excluyendo sus normas de conflicto de leyes, regirán
        estos Términos y Su uso del Servicio. Su uso de la Aplicación también puede estar sujeto a otras leyes locales,
        estatales, nacionales o internacionales.</p>
    <h2 _msttexthash="488384" _msthash="40">Resolución de disputas</h2>
    <p _msttexthash="12754300" _msthash="41">Si tiene alguna inquietud o disputa sobre el Servicio, acepta primero
        intentar resolver la disputa de manera informal comunicándose con la Compañía.</p>
    <h2 _msttexthash="936351" _msthash="42">Para usuarios de la Unión Europea (UE)</h2>
    <p _msttexthash="10834161" _msthash="43">Si usted es un consumidor de la Unión Europea, se beneficiará de las
        disposiciones obligatorias de la legislación del país en el que resida.</p>
    <h2 _msttexthash="1148082" _msthash="44">Cumplimiento legal de los Estados Unidos</h2>
    <p _msttexthash="53883908" _msthash="45">Usted declara y garantiza que (i) no se encuentra en un país que esté
        sujeto al embargo del gobierno de los Estados Unidos, o que haya sido designado por el gobierno de los Estados
        Unidos como un país que "apoya el terrorismo", y (ii) no figura en ninguna lista del gobierno de los Estados
        Unidos de partes prohibidas o restringidas.</p>
    <h2 _msttexthash="527696" _msthash="46">Divisibilidad y renuncia</h2>
    <h3 _msttexthash="225459" _msthash="47">Divisibilidad</h3>
    <p _msttexthash="45380374" _msthash="48">Si alguna disposición de estos Términos se considera inaplicable o
        inválida, dicha disposición se modificará e interpretará para lograr los objetivos de dicha disposición en la
        mayor medida posible según la ley aplicable y las disposiciones restantes continuarán en pleno vigor y
        efecto.</p>
    <h3 _msttexthash="112619" _msthash="49">Renuncia</h3>
    <p _msttexthash="74944896" _msthash="50">Salvo lo dispuesto en el presente documento, la falta de ejercicio de un
        derecho o de exigir el cumplimiento de una obligación en virtud de estos Términos no afectará a la capacidad de
        una parte para ejercer dicho derecho o exigir dicho cumplimiento en cualquier momento posterior, ni la renuncia
        a un incumplimiento constituirá una renuncia a cualquier incumplimiento posterior.</p>
    <h2 _msttexthash="685633" _msthash="51">Traducción Interpretación</h2>
    <p _msttexthash="20170553" _msthash="52">Estos Términos y Condiciones pueden haber sido traducidos si los hemos
        puesto a su disposición en nuestro Servicio.
        Usted acepta que el texto original en inglés prevalecerá en caso de disputa.</p>
    <h2 _msttexthash="1079923" _msthash="53">Cambios a estos Términos y Condiciones</h2>
    <p _msttexthash="75975276" _msthash="54">Nos reservamos el derecho, a nuestra entera discreción, de modificar o
        reemplazar estos Términos en cualquier momento. Si una revisión es sustancial, haremos todos los esfuerzos
        razonables para notificar con al menos 30 días de anticipación antes de que entren en vigencia los nuevos
        términos. Lo que constituye un cambio sustancial se determinará a nuestra entera discreción.</p>
    <p _msttexthash="38475099" _msthash="55">Al continuar accediendo o utilizando Nuestro Servicio después de que dichas
        revisiones entren en vigencia, Usted acepta estar sujeto a los términos revisados. Si no está de acuerdo con los
        nuevos términos, en su totalidad o en parte, deje de usar el sitio web y el Servicio.</p>
    <h2 _msttexthash="201149" _msthash="56">Contáctenos</h2>
    <p _msttexthash="5935787" _msthash="57">Si tiene alguna pregunta sobre estos Términos y Condiciones, puede ponerse
        en contacto con nosotros:</p>
    <ul>
        <li _msttexthash="1290185" _msthash="58">Por correo electrónico: <a href="#">[demo@demo.com]</a></li>
    </ul>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
</div>
{% endblock page_content %}